{
    "presets": [
      [
        "razzle/babel"
      ]
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./src/"],
          "alias": {
            "Xcomponents": "./src/components"
          }
        },
        "styled-components"
      ]
    ]
  }