{
    "presets": "next/babel",
    "plugins": [
      [
        "transform-runtime",
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "components": "./components"
          }
        }
      ]
    ]
  }